<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EltonPostman</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <table class="table table-condensed">
        <tbody>
          %for listing in listings:
          <tr>
            <th class="warning" colspan='3'> ${listing['Title']} </th>
          </tr>
          <tr>
            <td rowspan="4">
              <a href="${listing['ListingUrl']}"><img src="${listing['PictureHref']}" ></a>
            </td>
          </tr>
          <tr>
            <th > Price </td>
            <td class="text-danger"> ${listing.get('PriceDisplay', '-')} </td>
          </tr>
          <tr>
            <th > BuyNowPrice </td>
            <td > ${listing.get('BuyNowPrice', '-')} </td>
          </tr>
          <tr>
            <th > Location </td>
            <td > ${listing['Suburb']},&nbsp;${listing['Region']}</td>
          </tr>
          %endfor
        </tbody>
      </table>
      <footer>
        <p>&copy; EltonPostman 2014</p>
      </footer>

    </div><!--/.container-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

