<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EltonPostman</title>
  </head>

  <body>
    <div>
      <table  border="1" cellpadding="2" cellspacing="0" height="112" width="100%">
        <tbody>
          %for listing in listings:
          <tr>
            <th style='background-color:#FFFF99' colspan='3'> ${listing['Title']} </th>
          </tr>
          <tr>
            <td rowspan="4">
              <a href="${listing['ListingUrl']}"><img src="${listing['PictureHref']}" /></a>
            </td>
          </tr>
          <tr>
            <th > Price </td>
            <td style='color:red'> ${listing.get('PriceDisplay', '-')} </td>
          </tr>
          <tr>
            <th > BuyNowPrice </td>
            <td > ${listing.get('BuyNowPrice', '-')} </td>
          </tr>
          <tr>
            <th > Location </td>
            <td > ${listing['Suburb']},&nbsp;${listing['Region']}</td>
          </tr>
          %endfor
        </tbody>
      </table>
      <footer>
        <p>&copy; EltonPostman 2014</p>
      </footer>

    </div><!--/.container-->
  </body>
</html>
