<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EltonPostman</title>
  </head>

  <body>
    <div>
<table cellspacing="0" cellpadding="0" width="700" bgcolor="white" align="center" style="border-left:1px #cccccc solid;border-right:1px #cccccc solid;border-top:1px #cccccc solid">
      <tbody>
      <tr>
        <td width="20"></td>
        <td colspan="2">
          <!-- start listing -->
          %for listing in listings:
          <table cellspacing="0" cellpadding="4" width="100%">
            <tbody><tr>
              <td>
                <table cellspacing="0" cellpadding="0" width="100%" style="border-top:1px dotted black;border-bottom:1px dotted black">
                  <tbody><tr bgcolor="#FFFFFF">
                    <td style="padding:10px 0;text-align:center" width="180" height="140"><a href="${listing['ListingUrl']}" target="_blank"><img align="middle" style="border-width:0px" alt="Photo" src="${listing['PictureHref']}" class="CToWUd"></a></td>
                    <td style="padding:10px 0;text-align:left;vertical-align:top">
                      <div style="font-family:Arial;font-size:16px;line-height:25px"><a style="border-bottom:1px solid #0033cc;text-decoration:none" href="${listing['ListingUrl']}" target="_blank">${listing['Title']|limit_func}</a></div>
                      <div style="padding-top:5px;font-size:12px">${listing['Suburb']},&nbsp;${listing['Region']}</div>
                      <div style="margin-top:2px;font-size:12px">
          ${listing['EndDate']}</div>
                      <table cellpadding="0" cellspacing="0" height="8">
                        <tbody><tr>
                          <td></td>
                        </tr>
                      </tbody></table>
                    </td>
                    <td style="font-size:12px;padding:10px 0;text-align:right;vertical-align:top;width:90px">
                      <div style="padding-right:5px;float:right;color:#cc6600;text-align:center"><a style="text-decoration:none;color:#cc6600" href="${listing['ListingUrl']}" target="_blank"><span style="font-family:Arial;font-size:16px;font-weight:bold">${listing.get('BuyNowPrice', '-')}</span><div style="font-family:Verdana;font-size:11px">Buy Now</div></a></div>
                    </td>
                    <td style="font-size:12px;padding:10px 0;text-align:right;vertical-align:top;width:75px"><a style="text-decoration:none;color:rgb(0,0,0)" href="${listing['ListingUrl']}" target="_blank"><span style="font-family:Arial;font-size:16px;font-weight:bold">${listing.get('PriceDisplay', '-')}</span><div style="font-size:11px"></div></a></td>
                    <td style="padding:10px 2px;text-align:left;vertical-align:top;width:20px"><a style="text-decoration:none" href="${listing['ListingUrl']}" target="_blank"></a></td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
          %endfor
        <!-- end listing -->
        </td>
        <td width="20"></td>
      </tr>
    </tbody></table>

      <footer>
        <p>&copy; EltonPostman 2014</p>
      </footer>

    </div><!--/.container-->
  </body>
</html>
